# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
env/

# Database Files
*.db
*.sqlite
*.sqlite3

# Operating System Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Temporary Files
*.tmp
*.bak

# Python Environment
.python-version